h1 {
  text-align: center;
  font-size: var(--text-big);
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    to bottom,
    #fff 0,
    rgba(53, 53, 53) 95%
  );
  margin-bottom: 2rem;
}
