<header class="navbar w-[100vw] flex justify-center">
  <nav class="navbar-container w-[1200px] flex">
    <div class="nav-logo w-[20%] m-auto">
      <img class="img-logo min-w-[240px] min-h-[38px]" src="/img/web3embedLogoV1.png">
    </div>
    <div class="nav-items w-[80%] flex justify-end items-center px-5 gap-5">
<!--      <div class="nav-item">-->
<!--        <a href="#">Home</a>-->
<!--      </div>-->
<!--      <div class="nav-item">-->
<!--        <span [matMenuTriggerFor]="menu">Products</span>-->
<!--        <mat-menu class="px-5 py-2" #menu="matMenu">-->
<!--          <a href="#">Web3Checkout</a>-->
<!--        </mat-menu>-->
<!--      </div>-->
    </div>
  </nav>
</header>
