<nav class="fixed top-0 inset-x-0 bg-white border-b border-gray-200 shadow-sm z-40">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <!-- Logo + desktop links -->
        <div class="flex items-center gap-8">
          <a href="#" class="text-xl font-semibold text-gray-900">Web3Embed</a>

          <!-- Desktop navigation -->
          <div class="hidden md:flex items-center gap-6">
            <a href="#" class="text-sm font-medium text-gray-600 hover:text-gray-900">Dashboard</a>
            <a href="#" class="text-sm font-medium text-gray-600 hover:text-gray-900">Offers</a>
            <a href="#" class="text-sm font-medium text-gray-600 hover:text-gray-900">Wallets</a>
            <a href="#" class="text-sm font-medium text-gray-600 hover:text-gray-900">Payments</a>
          </div>
        </div>
        <button mat-button [matMenuTriggerFor]="menu" class="hover:bg-gray-200 cursor-pointer rounded px-2 py-1">
            <span class="flex items-center gap-2">
                Mikołaj Kopeć
                <mat-icon>account_circle</mat-icon>
                <mat-icon>arrow_drop_down</mat-icon>
            </span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Logout</button>
        </mat-menu>
        </div>
    </div>
  </nav>