@import "tailwindcss";
:root{
  /*angular material*/
  --mat-tab-header-active-label-text-color: var(--primary-color-text);
  --mat-tab-header-active-focus-label-text-color:var(--primary-color-text);
  --mat-tab-header-inactive-label-text-color: var(--primary-color-text);
  --mat-tab-header-inactive-focus-label-text-color: var(--primary-color-text);

  font-family: Geist Sans, sans-serif;
  --font-family: "Geist Sans", sans-serif;
  --surface-background: rgb(15, 15, 15);
  --surface-lighter-background: rgb(26, 26, 26);
  --surface-white: var(--color-gray-200);
  --text-big: clamp(3rem, 4vw, 6rem);
  --text-medium: clamp(1.8rem, 2.5vw, 4rem);
  --text-small-header: clamp(1.3rem, 2vw, 2.25rem);
  --text-small-subheader: clamp(.80rem, 0.8vw, 0.8rem);
  --font-size-base:clamp(1rem, 1vw, 1rem);
  --text-color: rgb(227, 227, 227);
  --text-color-white: #fff;
  --primary-color: #3958a2;
  --primary-color-text: rgb(227, 227, 227);
  --secondary-color: white;
  --secondary-color-text: var(--color-black);
  --border-color: hsl(240, 2.1%, 18.8%);
  color-scheme: dark;

  --navbar-height: 4rem;
  --max-width:1200px;
}
html, body { height: 100%; }
body{
  color: var(--text-color);
  overflow-x: hidden;
  margin: 0;
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-size: var(--font-size-base);
  font-style: normal;
  background-color:var(--surface-background);
}
img:not(.img-logo){
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}
footer{
  width: 100vw;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: var(--text-small-subheader);
}

ul{
  list-style-type: disc;
}
ol{
  list-style-type: decimal;
}

h1{
  font-weight: 700;
  font-size: var(--text-big);
}
h2{
  font-size: var(--text-medium);
}
h3{
  font-size: var(--text-small-header);
}
h4{
  font-size: var(--text-small-subheader);
}



.border-primary{
  border-radius: .75rem;
  border: 1px solid var(--text-color);
  overflow: hidden;
}
.hero-text{
  font-size: var(--text-big);
  font-weight: 700;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom, var(--text-color-white) 0, rgb(53, 53, 53) 95%);
}
.navbar{
  position: fixed;
  height: var(--navbar-height);
}
.navbar, footer{
  color: var(--secondary-color-text);
  z-index: 41;
  background-color: var(--surface-white);
}
.content{
  padding-top: var(--navbar-height);
}

.om-timeline-entry-title {
  h1{
    font-size: 3rem!important;
  }
  color: #929292;
  font-weight: bold;
}
.om-timeline-entry-content {
  color: #fff;
  ul {
    padding: 1rem 0 0 1rem;
    list-style-type: circle;
  }
  li {
    margin-bottom: 0.5rem;
  }
}
.hero-component{
  h1,h2,h3,h4,h5,h6,h7{
    text-align: center;
    font-weight: bold;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
      to bottom,
      #fff 0,
      rgba(53, 53, 53) 95%
    );
  }

}


.crypto-checkout{
  width: fit-content;
  color: var(--secondary-color-text)!important;
}
